<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello, I'm Khushi Manuja, a computer programming student at Seneca College. With an insatiable
        curiosity for technology,
        I'm immersed in the world of coding, exploring its endless possibilities. I thrive on solving
        complex problems and
        strive to create innovative solutions that leave a positive impact. Excited to be on this
        journey of discovery and
        growth!
      </p>

    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates!!!</p>
  </aside>
</div>